* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.choices {
  /* border: 1px red solid; */
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.container {
  width: 480px;
  height: 480px;
  background-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.clear {
  background-color: white;
  border: 1px black solid;
}

.clear:hover {
  background-color: gray;
}
